



    <div class="container__title">
        <h3 class="title">Devposts</h3>
    </div>

  
    <div class="main">
        <app-card
            Id="1"
            noticeImage="https://64bdeaeb91c0a312d5f9537b--superlative-dusk-ea107d.netlify.app/posts-blog/assets/img1.png"
            cardTitle="Titulo Do Post 1"
            descriptionNotice="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, eveniet. "
        >
        
        </app-card>
        <app-card
            Id="2"
            noticeImage="https://64bdeaeb91c0a312d5f9537b--superlative-dusk-ea107d.netlify.app/posts-blog/assets/img2.png   "
            cardTitle="Titulo Do Post 2"
            descriptionNotice="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, eveniet. "
        >
    
        </app-card>
        <app-card
            Id="3"
            noticeImage="https://64bdeaeb91c0a312d5f9537b--superlative-dusk-ea107d.netlify.app/posts-blog/assets/img3.png"
            cardTitle="Titulo Do Post 3"
            descriptionNotice="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, eveniet. "
            >

        </app-card>
        <app-card
            Id="4"
            noticeImage="https://64bdeaeb91c0a312d5f9537b--superlative-dusk-ea107d.netlify.app/posts-blog/assets/img4.png   "
            cardTitle="Titulo Do Post 4"
            descriptionNotice="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, eveniet. "
            >

        </app-card>
        <app-card
            Id="5"
            noticeImage="https://64bdeaeb91c0a312d5f9537b--superlative-dusk-ea107d.netlify.app/posts-blog/assets/img5.png"
            cardTitle="Titulo Do Post 5"
            descriptionNotice="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, eveniet. "
            >

        </app-card>
        <app-card
            Id="6"
            noticeImage="https://64bdeaeb91c0a312d5f9537b--superlative-dusk-ea107d.netlify.app/posts-blog/assets/img6.png"
            cardTitle="Titulo Do Post 6"
            descriptionNotice="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, eveniet. "
            >

        </app-card>

    </div>

    <footer class="container__footer">
        <p>rossattogabriel@gmail.com</p>
    </footer>
